# 服务端口
PORT=3000

# 远程配置文件地址（多个用逗号分隔）
CONFIG_URLS=https://example.com/config1.yaml,https://example.com/config2.yaml

# WireGuard 配置文件目录
CONF_DIR=/app/conf

# WireGuard MTU 值
WG_MTU=1340

# WireGuard DNS 服务器（多个用逗号分隔）
WG_DNS=192.168.5.27,8.8.8.8

# 代理组名称
WG_GROUP_NAME=🏠 回家

# 前置规则（多个用逗号分隔）
PREPEND_RULES=IP-CIDR,192.168.5.0/24,🏠 回家,IP-CIDR,10.0.10.0/24,🏠 回家,DOMAIN-KEYWORD,lybaby,🏠 回家

